---
layout: default
comments: false
permalink: /categorites/
---
<div class="row">
  <div class="col-md-12">
    <div class="breadcrumb-header">
      <ol class="breadcrumb">
        <li><a href="{{ site.baseurl }}">首页</a></li>
        <li class="active" id="categorization"></li>
      </ol>
      {% include searchbox.html %}
    </div>
  </div>
  <div class="col-md-8" role="main">
    <ul class="post-list" data-list-cate="All" style="display: none;">
      {% for post in site.posts %}
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
    
    {% for default in site.defaults %}
      {% if default.scopes.path == "" %}{% continue %}{% endif %}
      {% assign tag = default.scope.path %}
      {% assign title = default.values.category %}
      {% assign cate = title | downcase %}
      <ul class="post-list" data-list-cate="{{ tag }}" data-cate-title="{{ title }}" style="display: none;">
        {% for post in site.categories[cate] %}
          {% if post.url %}
            <li>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
  <div id="content" class="col-sm-3 hidden-xs hidden-sm"></div>
</div>
<br class="clear">
<script type="text/javascript">
$(function() {
    requireFillScreen();
    // 加载分类
    var s=$.request.queryString['c'];
    if (s) {
        var c=$('.post-list[data-list-cate="' + s + '"]');
        c.show();
        $('#categorization').text(c.data('cate-title'));
    } else {
        $('#categorization').text('全部内容');
    }
});
</script>