---
layout: indexpage
---
<div class="jumbotron">
  <div class="container text-center">
    <h1>入门指引</h1>
    <p>有些时候，你只是需要一点点<span class="text-success">提示</span>，剩下的可以<span class="text-info">自己探索</span>。</p>
  </div>
</div>
      
<div role="main" class="container main">
  <div class="row">
    <form class="col-md-8 col-md-offset-2 form-inline" method="get" action="{{ "search/" | prepend: site.baseurl }}">
      <input type="text" class="form-control" id="searchbox2" placeholder="正则搜索" name="s" style="width: 81%; float: left;">
      <button type="submit" class="btn btn-info" style="width: 18%; float: right;">搜索</button>
    </form>
  </div>

  <br class="clear">
  
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-success" id="faq">
        <div class="panel-heading">
          <h3 class="panel-title">FAQ</h3>
        </div>
        <div class="list-group">
          {% for post in site.posts %}
            {% if post.faq %}
              {% for question in post.faq %}
              <a href="{{ post.url | prepend: site.baseurl }}" class="list-group-item">{{ question }}</a>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  
  <br class="clear">
  
  <div class="row" style="padding-bottom: 20px;">
    <div class="col-md-8">
      <ul id="markdown-toc" style="display: none;">
      {% for category in site.categories %}
      <li><a href="#section-{{ category | first | replace: ' ','' }}">{{ category | first }}</a>
      </li>
      {% endfor %}
      </ul>
      
      {% for category in site.categories %}
        {% assign cate = category | first %}
        {% assign u = "categorites/?c=" | prepend: site.baseurl | append: cate %}
        <h3 id="section-{{ category | first | replace: ' ','' }}" class="cate-header"><a href="{{ u }}">{{ category | first }}</a></h3>
        <ul>
          {% for posts in category %}
            {% for post in posts %}
              {% if post.url %}
                <li>
                  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
    <div id="content" class="col-sm-3 hidden-xs hidden-sm" data-index="index"></div>
  </div>
</div>