---
layout: indexpage
---
<div class="jumbotron">
  <div class="container text-center">
    <h1><span class="logo">#!</span> 入门指引</h1>
    <p>有些时候，你只是需要一点点<span class="text-success">提示</span>，剩下的可以<span class="text-info">自己探索</span>。</p>
    <p><a class="btn btn-inverse" href="https://github.com/upclinux/intro"><i class="fa fa-github"></i> GitHub 项目主页</a><br>
      <small>最后更新: {{ site.time | date: "%Y-%m-%d" }}</small></p>
  </div>
</div>

<div role="main" class="container main">
  <div class="row">
    <form class="col-md-8 col-md-offset-2 form-inline" method="get" action="{{ "/search/" | prepend: site.baseurl }}">
      <input type="text" class="form-control" id="searchbox2" placeholder="正则搜索" name="s" style="width: 81%; float: left;">
      <button type="submit" class="btn btn-info" style="width: 18%; float: right;">搜索</button>
    </form>
  </div>

  <br class="clear">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-success" id="faq">
        <div class="panel-heading" id="faq-panel-heading" style="cursor: pointer;">
          <span class="fa fa-angle-up pull-right" id="faq-panel-arrow"></span>
          <h3 class="panel-title">FAQ</h3>
        </div>
        <div class="list-group hidden-xs" id="faq-list">
          {% for default in site.defaults %}
            {% assign title = default.values.category %}
            {% assign cate = title | downcase %}
            {% for post in site.categories[cate] %}
              {% if post.faq %}
                {% for question in post.faq %}
                <a href="{{ post.url | prepend: site.baseurl }}" class="list-group-item">{{ question }}</a>
                {% endfor %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <br class="clear">

  <div class="row" style="padding-bottom: 20px;">
    <div class="col-md-8">
      <ul id="markdown-toc" style="display: none;">
      {% for default in site.defaults %}
        {% if default.scope.path == "" %}{% continue %}{% endif %}
        <li><a href="#section-{{ default.scope.path }}">{{ default.values.category }}</a>
        </li>
      {% endfor %}
      </ul>

      {% for default in site.defaults %}
        {% if default.scope.path == "" %}{% continue %}{% endif %}
        {% assign tag = default.scope.path %}
        {% assign title = default.values.category %}
        {% assign icon = default.values.icon %}
        {% assign cate = title | downcase %}
        {% assign u = "/categorites/?c=" | prepend: site.baseurl | append: tag %}
        <h3 id="section-{{ tag }}" class="category-header"><a href="{{ u }}">{% if icon %}<i class="{{ icon }}"></i>{% endif %}{{ title }}</a></h3>
        <ul>
          {% for post in site.categories[cate] %}
            {% if post.url %}
              <li>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
    <div id="content" class="col-sm-3 hidden-xs hidden-sm" data-index="index"></div>
  </div>
</div>
<script type="text/javascript" src="{{ site.baseurl }}/js/faq.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/anchor.min.js"></script>
<script type="text/javascript">anchors.options.placement="right";anchors.add('.category-header');</script>
