/**
 * Back to top
 */
#top {
	position: fixed;
	right: 25px;
	bottom: 10px;
	width: 60px;
	height: 60px;
	background-color: #f0f0f0;
	border-radius:7px;
	opacity: 0.8;
	display: none;
	z-index: 888;
}

#top .arrow {
	margin:0 auto;
	padding-top:11px;
	width: 0;
	height: 0;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent; 
	border-bottom: 15px solid #c1c1c1;	
}

#top .stick {
	margin: 0 auto;
	padding-bottom: 21px;
	width: 13px;
	border-bottom: 13px solid #f0f0f0;
	background-color: #c1c1c1;
}