/**
 * Site header
 */
.navbar-default {
    min-height: 50px;
    border-radius: 0px;
    
    box-shadow: 0px 1px 2px #828282;
    
    .navbar-brand {
        font-size: 19px;
        height: 50px;
        padding: 15px 15px;
    }
    
    .navbar-toggle {
        margin-top: 7px;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: $on-palm) {
    .navbar-nav > li > a {
        font-size: 15px;
        padding: 15px 15px;
    }
}

.jumbotron {
    margin-top: -20px;
    padding-top: 56px;
    padding-bottom: 15px;
    line-height: 1.5;
    
    h1 {
        font-size: 55px;
        padding-bottom: .5em;
    }    
    p {
        font-size: 22px;
        color: $grey-color;
    }
    small {
        font-size: 12px;
        color: lighten($grey-color, 20%);
    }
    
    .logo {
        font-size: 50px;
        font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
        background-color: $navbar-dark;
        padding: 8px;
        border-radius: 10px;
        color: #fff;
        box-shadow: 0px 0px 4px $navbar-dark;
    }
    
    @include media-query($on-palm) {
        h1 {
            font-size: 36px;
        }   
        .logo {
            font-size: 32px;
        }
        p {
            font-size: 15px;
        }
    }
}

.breadcrumb-header {
    min-height: 41px;
    margin-bottom: 19px;
    border-bottom: 1px solid $grey-color-medium;   
}

.breadcrumb-header .breadcrumb {
    margin: 0px;
    padding-left: 0px;
    overflow: hidden;
    z-index: 1;
    background-color: transparent;
    border: none;
    width: 75%;
    
    @include media-query($on-palm) {
        width: 100%;
    }
}

.breadcrumb-header .searchbox {        
    width: calc(25% - 20px);
    position: absolute;
    right: 15px;
    top: 7px;
    z-index: 2;
    line-height: 1;
    
    .search-icon {
        margin-top: 4px;
        margin-left: 4px;
        font-size: 18px;
        position: absolute;
        color: $grey-color-medium;
    }
    
    input[type="text"] {
        padding: 7px 7px 7px 23px;
        width: 100%;
        height: 27px;
        font-size: 13px;
        border: 1px solid $grey-color-medium;
        border-radius: 2px;
    
        &:focus {
            border: 1px solid $highlight-color;
            box-shadow: 0 0 3px $highlight-color;
            outline: none;
        }
    }
}
