/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    font-size: 15px;
    color: $grey-color;
}

.contact-list {
    list-style: none;
    margin-left: 0;
}

.social-media-list {
    list-style: none;
}

/**
 * Posts
 */
.list-group-item {
    padding: 6px 15px;
}

.category-header {
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: .15em;
    a {
        color: $grey-color-dark;
        font-size: 20px;

        i.fa {
            padding-right: .4em;
            color: $grey-color;
        }
    }
}

.post-title {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1.5;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1, h2 {
        padding-bottom: $spacing-unit / 4;
    }

    h3, h4, h5, h6 {
        padding-bottom: $spacing-unit / 8;
    }

    h1 {
        font-size: 28px;
        border-bottom: 1px solid $grey-color-medium;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }
}

.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;

    h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    ol, ul, dl, pre, .highlight, p {
        margin-bottom: 0px;
    }
}

.callout-primary {
    border-left-color: $primary-color;
    h4 {
        color: $primary-color;
    }
}

.callout-success {
    border-left-color: $success-color;
    h4 {
        color: $success-color;
    }
}

.callout-info {
    border-left-color: $info-color;
    h4 {
        color: $info-color;
    }
}

.callout-warning {
    border-left-color: $warning-color;
    h4 {
        color: $warning-color;
    }
}

.callout-danger {
    border-left-color: $danger-color;
    h4 {
        color: $danger-color;
    }
}

/**
 Others
 */
.btn-inverse {
    border-color: $navbar-dark;
    background-color: transparent;
    color: $navbar-dark;

    &:hover {
        background-color: $navbar-dark;
        color: white;
    }
}

.anchorjs-link {
    color: $grey-color;
    &:hover {
        color: $grey-color;
        text-decoration: none;
    }
}

.external-link {
    color: $grey-color;
    padding: 0 .3em;
    font-size: $small-font-size * 0.75;
}

.blackout {
    background-color: $text-color;
}
