/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    font-size: 15px;
    color: $grey-color;
}

.contact-list, .social-media-list {
    list-style: none;
    margin-left: 0;
}

/**
 * Posts
 */
.list-group-item {
    padding: 6px 15px;
}

.category-header {
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: .15em;
    a {
        color: $grey-color-dark;
        font-size: 20px;
    }
}

.post-title {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1.5;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


