<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div id="main" class="container main">
      {{ content }}
    </div>
    <div id="top" data-toggle="tooltip" data-placement="left" title="回到顶部">
      <a href="javascript:;">
        <div class="arrow"></div>
        <div class="stick"></div>
      </a>
    </div>
    {% include footer.html %}
    <div style="display: none;"><script type="text/javascript" src="//s11.cnzz.com/z_stat.php?id=1256410622&web_id=1256410622"></script></div>
  </body>
</html>
