---
layout: default
---
<div class="row">
  <div class="col-md-12">
    <div class="breadcrumb-header">
      <ol class="breadcrumb">
        <li><a href="{{ site.baseurl }}/">首页</a></li>
        {% assign u = "/categorites/?c=" | prepend: site.baseurl | append: c %}
        <li><a href="{{ u }}">{{ t }}</a></li>
        <li class="active">{{ page.title }}</li>
      </ol>
      {% include searchbox.html %}
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </div>
  <div class="col-md-8" role="main">
    <article class="post-content">
      {{ content }}
    </article>
  </div>
  <div id="content" class="col-sm-3 hidden-xs hidden-sm"></div>
</div>
<br class="clear">
<script type="text/javascript" src="{{ site.baseurl }}/js/anchor.min.js"></script>
<script type="text/javascript">anchors.options.placement="left";anchors.add('article h1,h2,h3,h4');</script>
<script type="text/javascript" src="{{ site.baseurl }}/js/callout.js"></script>
