---
layout: default
---
<div class="row">
  <div class="col-md-12">
    {% for default in site.defaults %}
      {% assign title = default.values.category %}
      {% assign tag = title | downcase %}
      {% if page.categories[0] == tag %}
        {% assign c = default.scope.path %}
        {% assign t = title %}
        {% break %}
      {% endif %}
    {% endfor %}
    <div class="breadcrumb-header">
      <ol class="breadcrumb">
        <li><a href="{{ site.baseurl }}/">首页</a></li>
        {% assign u = "/categorites/?c=" | prepend: site.baseurl | append: c %}
        <li><a href="{{ u }}">{{ t }}</a></li>
        <li class="active">{{ page.title }}</li>
      </ol>
      {% include searchbox.html %}
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </div>
  <div class="col-md-8" role="main">
    <article class="post-content">
      {{ content }}
    </article>
    
    <br class="clear">
    <div class="post-area post comment">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_shortname = 'upclinux';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
    <br class="clear">
  </div>
  <div id="content" class="col-sm-4 hidden-xs hidden-sm"></div>
</div>
<br class="clear">
<script type="text/javascript" src="{{ site.baseurl }}/js/anchor.min.js"></script>
<script type="text/javascript">anchors.options.placement="left";anchors.add('article h1,h2,h3,h4');</script>
<script type="text/javascript" src="{{ site.baseurl }}/js/callout.js"></script>
