---
layout: default
---
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb" style="margin-left: 0px;">
      <li><a href="{{ "/" | prepend: site.baseurl }}">首页</a></li>
      {% assign u = "categorites/?c=" | prepend: site.baseurl | append: page.categories[0] %}
      <li><a href="{{ u }}">{{ page.categories[0] }}</a></li>
      <li class="active">{{ page.title }}</li>
    </ol>
    <h1 class="post-title">{{ page.title }}</h1>
  </div>
  <div class="col-md-8" role="main">
    <article class="post-content">
      {{ content }}
    </article>
  </div>
  <div id="content" class="col-sm-3 hidden-xs hidden-sm"></div>
</div>
<br class="clear">
